<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'public/works/sidebar' %>
    </div>
    <div class="col-md-10">
      <table class="table">
        <tr>
          <th class="col-2">【件名】</th>
          <td class="col-10"><%= @work.title %></td>
        </tr>
        <tr>
          <th class="col-2">【目的】</th>
          <td class="col-10"><%= @work.purpose %></td>
        </tr>
        <tr>
          <th class="col-2">【背景】</th>
          <td class="col-10"><%= @work.background %></td>
        </tr>
        <tr>
          <th class="col-2">【内容】</th>
          <td class="col-10"><%= @work.body %></td>
        </tr>
      </table>

      <div>
        to_user_id<%= @work.to_user_id %>
        current_user.id<%= current_user.id %>
        <% if @work.to_user_id == current_user.id %>

          <%= form_with model: @work, url: public_work_path(@work) do |f| %>
            <%= f.select :progress_status, Work.progress_statuses.keys.map {|k| [I18n.t("enums.work.progress_status.#{k}"), k]} %>
            <%= f.submit "進捗ステータスを更新" %>
          <% end %>

        <% end %>
      </div>

      <div>
        <%= render "public/work_comments/index", work: @work %>
        <%= render "public/work_comments/form", work: @work, work_comment: @work_comment %>
      </div>

    </div>
  </div>
</div>