<div class="container">
  <div class="row my-5">
    <div class="mx-auto col-4">
      <h2 class="d-flex align-items-center justify-content-center">管理者ログイン</h2>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto col-4">
      <!--ログイン状況による表示分けIF文-->
      <% if user_signed_in? %>
        <div>
          <p class="text-center">既にログイン中です。</p>
          <p class="text-center">ログアウト後に再度お試しください。</p>
        </div>
      <% else %>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <table class="table">
            <tr>
              <th><%= f.label :社員コード %></th>
              <td><%= f.text_field :employee_code, autofocus: true, class:"form-control" %></td>
            </tr>
            <tr>
              <th><%= f.label :パスワード %></th>
              <td><%= f.password_field :password, autocomplete: "current-password", class:"form-control" %></td>
            </tr>
            <tr>
              <th></th>
              <td>
                <% if devise_mapping.rememberable? %>
                  <div class="field">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>
              </td>
            </tr>
          </table>
          <div class="row">
            <div class="mx-auto col-6">
              <%= f.submit "ログイン", class:"btn btn-primary col-12 my-3" %>
              <%= link_to "トップへ戻る", root_path, class:"btn btn-outline-secondary col-12" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>