<div class="container">
  <!--エラーメッセージ-->
  <%= render 'layouts/error' %>
  <div class="row mt-4 mb-3">
    <div class="mx-auto col-12">
      <h2 class="d-flex align-items-center justify-content-center">日報編集フォーム</h2>
    </div>
  </div>
  <!--日報編集フォーム-->
  <div class="row">
    <div class="btn_custom mx-auto col-8">
      <%= form_with model: @dailyreport, url:public_dailyreport_path do |f| %>
      <table class="table">
        <tr>
          <th class="col-3">所属</th>
          <td class="col-9"><%= current_user.department.name %></td>
        </tr>
        <tr>
          <th class="col-3">氏名</th>
          <td class="col-9"><%= current_user.name %></td>
        </tr>
        <tr>
          <th class="col-3">今日の目標</th>
          <td class="col-9"><%= f.text_area :objective, class:"form-control", rows: 4 %></td>
        </tr>
        <tr>
          <th class="col-3">業務概要（実績等）</th>
          <td class="col-9"><%= f.text_area :summary, class:"form-control", rows: 4 %></td>
        </tr>
        <tr>
          <th class="col-3">反省・問題点</th>
          <td class="col-9"><%= f.text_area :introspection, class:"form-control", rows: 4 %></td>
        </tr>
        <tr>
          <th class="col-3">明日の目標・改善点</th>
          <td class="col-9"><%= f.text_area :improvement, class:"form-control", rows: 4 %></td>
        </tr>
        <tr>
          <th class="col-3">明日の目標・改善点</th>
          <td class="col-9"><%= f.text_area :impression, class:"form-control", rows: 4 %></td>
        </tr>
      </table>
      <%= f.submit "編集内容を保存する", class:"btn btn-info col-4" %>
      <% end %>
    </div>
  </div>
</div>