<div class="container">
  <!--エラーメッセージ-->
  <%= render 'layouts/error' %>
  <div class="row">
    <div class="col-2">
      <%= render 'public/works/sidebar' %>
    </div>
    <div class="col-10 mt-4">
      <h1>業務日報</h1>
      <% if @dailyreport.user_id == current_user.id %>
        <div class="text-right">
          <!--編集リンク-->
          <%= link_to "編集する", edit_public_dailyreport_path(@dailyreport), class:"btn btn-sm btn-outline-success m-1" %>
          <!--削除リンク-->
          <%= link_to "削除する", public_dailyreport_path(@dailyreport), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-outline-danger m-1" %>
        </div>
      <% end %>
      <table class="table">
        <tr>
          <th class="col-3">所属</th>
          <td class="col-8"><%= @dailyreport.user.department.name %></td>
          <td class="col-1"><!--空タブ--></td>
        </tr>
        <tr>
          <th class="col-3">氏名</th>
          <td class="col-8"><%= @dailyreport.user.name %></td>
          <td class="col-1"><!--空タブ--></td>
        </tr>
        <tr>
          <th class="col-3">今日の目標</th>
          <td class="col-8"><%= safe_join(@dailyreport.objective.split("\n"),tag(:br)) %></td>
          <td class="col-1"><!--空タブ--></td>
          <td></td>
        </tr>
        <tr>
          <th class="col-3">業務概要（実績等）</th>
          <td class="col-8"><%= safe_join(@dailyreport.summary.split("\n"),tag(:br)) %></td>
          <td class="col-1"><!--空タブ--></td>
        </tr>
        <tr>
          <th class="col-3">反省・問題点</th>
          <td class="col-8"><%= safe_join(@dailyreport.introspection.split("\n"),tag(:br)) %></td>
          <td class="col-1"><!--空タブ--></td>
        </tr>
        <tr>
          <th class="col-3">明日の目標・改善点</th>
          <td class="col-8"><%= safe_join(@dailyreport.improvement.split("\n"),tag(:br)) %></td>
          <td class="col-1"><!--空タブ--></td>
        </tr>
        <tr>
          <th class="col-3">所感</th>
          <td class="col-8"><%= safe_join(@dailyreport.impression.split("\n"),tag(:br)) %></td>
          <td class="col-1 text-success">
            <% if current_user.position == true %>
              [<%= @dailyreport.score %>]
            <% end %>
          </td>
        </tr>
      </table>
      <% if current_user.position == true %>
        <div>
          <p class="ml-3 mb-0 text-success">※管理者ユーザーは所感欄に感情スコアが表示されます（-10～10、10に近い程ポジティブな感情)</p>
          <p class="ml-3 text-success">　メンタルヘルスにご活用ください。</p>
        </div>
      <% end %>
      <%= render "public/dailyreport_comments/index", dailyreport: @dailyreport %>
      <%= render "public/dailyreport_comments/form", dailyreport: @dailyreport, dailyreport_comment: @dailyreport_comment %>
    </div>
  </div>
</div>