<!DOCTYPE html>
<html>
  <head>
    <title>WorkReport</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-lg bg-dark">
      <div class="container">
        <nav class="navbar">
          <ul class="nav navbar-right text-right">
            <%= image_tag('logo_s.png') %>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "業務依頼一覧", public_user_path((current_user.id)), class:"btn btn-info mx-2" %>
              </li>
              <li class="nav-item">
                <%= link_to "新規業務依頼", public_new_select_department_work_path, class:"btn btn-info mx-2" %>
              </li>
              <li class="nav-item">
                <%= link_to "日報投稿", new_public_dailyreport_path, class:"btn btn-info mx-2" %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class:"nav-link mx-2 text-white" do %>
                  <span><i class="fas fa-sign-out-alt"></i> ログアウト </span>
                <% end %>
              </li>
            <% elsif admin_signed_in? %>
              <li>
                <%= link_to admin_users_path, class:"btn btn-info mx-2" do %>
                  <span><i class="fas fa-users"></i> 社員一覧 </span>
                <% end %>
              </li>
              <li>
                <%= link_to admin_departments_path, class:"btn btn-info mx-2" do %>
                  <span><i class="fas fa-bookmark"></i> 部署一覧 </span>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link mx-2 text-white" do %>
                  <span><i class="fas fa-sign-out-alt"></i> ログアウト </span>
                <% end %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to new_admin_session_path, class:"nav-link mx-2 text-white" do %>
                  <span><i class="fas fa-sign-in-alt"></i> 管理者ログイン </span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <%= yield %>
  </body>
</html>